.menubar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  overflow: hidden;
  width: 80%;
  height: auto;
  background-color: #ffffff;
  justify-content: space-between;
  margin: 0;
}
.header-container-1 {
  width: 70%;
  align-self: flex-start;
  padding: 10px;
}
.header-container-2 {
  padding: 10px;
  align-self: flex-end;
}
.raiselogo {
  height: 30px;
  width: 30px;
}
