body {
  font-family: "Lato", sans-serif;
}
.btncontainer {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 20%;
  height: 50px;
  overflow: hidden;
  background: white;
  margin: 0;
}
.btn {
  margin: 10px;
  border: none;
  padding: 0;
  background: transparent;
  height: 30px;
  width: 30px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-right: 0px;
}
.sidenav-1 {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: blue;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-right: 0px;
}
a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

a:hover {
  color: #f1f1f1;
}
#main {
  margin-right: 0px;
  transition: margin 0.5s;
}
#main1 {
  margin-right: 250px;
  transition: margin 0.5s;
}
