.component-3 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.card {
  flex: 0 0 auto;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
