.search-div {
  z-index: 0;
  position: sticky;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  height: auto;
  background-color: whitesmoke;
  align-items: center;
}
.search-bar {
  margin: 10px;
  width: 80%;
  height: 40px;
  border-radius: 50px;
  border: 1px solid rgb(13, 186, 252);
  padding: 0px 0px 0px 5px;
  background: white;
  outline-color: rgb(13, 186, 252);
}
.searchbutton {
  background-color: rgb(13, 186, 252);
  border: 1px solid rgb(13, 186, 252);
  border-radius: 50px;
  color: white;
  font-size: 18px;
  width: 15%;
  height: 40px;
}
.compo-2-input {
  border: none;
  width: 85%;
  outline: white;
}
