.image-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 10px 0 10px 0;
  padding: 0;
  box-shadow: 0 2px 6px 0 #e0e2e3;
}
.card {
  flex: 0 0 auto;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
